header{
    font-size: 30px;
    font-weight: bolder;
    text-align: center;
    margin: 10px;
    background-color: #ccc;
}

.img{
    text-align: center;
}

img{
    width: 50%;
    position: relative;
}

input{
    margin: 10px;
    width: 200px;
    height: 20px;
}

.container{
    display: flex;
}
.div{
    width: 100px;
    height: 100px;   
}

.item1{
    background-color: yellow;
}
.item2{
    background-color: blue;
}
.item3{
    background-color: violet;
}
.item4{
    background-color: green;
}